---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: transmission
spec:
  replicas: 1
  selector:
    matchLabels:
      app: transmission
  template:
    metadata:
      labels:
        app: transmission
    spec:
      containers:
        - name: transmission
          # renovate: datasource=docker depName=lscr.io/linuxserver/transmission versioning=semver
          image: lscr.io/linuxserver/transmission:4.0.6
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "Etc/UTC"
          ports:
            - containerPort: 9091
            - containerPort: 51413
            - containerPort: 51413
              protocol: UDP
          volumeMounts:
            - name: config
              mountPath: /config
            - name: downloads
              mountPath: /downloads
            - name: watch
              mountPath: /watch
          resources:
            requests:
              memory: 256Mi
              cpu: 250m
            limits:
              memory: 1.5Gi
              cpu: "1.5"
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: transmission-pvc
        - name: downloads
          persistentVolumeClaim:
            claimName: nfs-downloads-pvc
        - name: watch
          persistentVolumeClaim:
            claimName: nfs-watch-pvc
