---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: linkding
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: linkding
  template:
    metadata:
      labels:
        app: linkding
    spec:
      volumes:
        - name: linkding-volume
          persistentVolumeClaim:
            claimName: linkding-pvc
      containers:
        - name: linkding
          image: sissbruecker/linkding:1.31.0
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: linkding-volume
              mountPath: /etc/linkding/data
          resources:
            requests:
              memory: 768Mi
              cpu: 125m
            limits:
              memory: 1Gi
              cpu: 250m
